.contact{

max-width:700px;

margin:auto;

text-align:center;

}

form{

display:flex;

flex-direction:column;

gap:20px;

}

input,

textarea{

padding:15px;

border:none;

border-radius:10px;

font-size:16px;

outline:none;

}

textarea{

resize:none;

}